services:
  discord-bot:
    build: .
    container_name: discord-schedule-bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
      - ENV=main
    # 로그 확인을 위한 설정
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"